@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}